<div class="rightcolumn">
    <div class="card">
      <h2>About Me</h2>
      <div class="fakeimg" style="height:100px;">Some text Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores, cum!</div>
    </div>

    <div class="card">
      <h3>Follow Me</h3>
      <p>instagram: @hiten.jpg</p>
    </div>
  </div>